@mixin from-screen($name) {
  $media: map-get($grid-breakpoints, $name);
  @media (min-width: $media) {
    @content;
  }
}

@mixin create-layout-attribute($layout, $breakpoint:false) {
  $value : if($breakpoint, "#{$layout}-#{$breakpoint}", "#{$layout}");
  [ai-layout~="#{$value}"],
  [ai-layout~="flex-#{$value}"] {
    @include ai-direction($layout);
  }
}

@mixin create-flex-attribute($basis, $breakpoint:false) {

  $size: ai-flex-size($basis);
  @if $breakpoint {

    [flex*="#{$breakpoint}-#{$basis}"] {
      flex: 0 0 $size;

    }
    [ai-layout*="column-#{$breakpoint}"] [flex*="#{$breakpoint}-#{$basis}"],
    [ai-layout*="flex-column-#{$breakpoint}"] [flex*="#{$breakpoint}-#{$basis}"] {
      min-height: $size;
    }
    [ai-layout*="row-#{$breakpoint}"] [flex*="#{$breakpoint}-#{$basis}"],
    [ai-layout*="flex-row-#{$breakpoint}"] [flex*="#{$breakpoint}-#{$basis}"] {
      min-width: $size;
    }

    [flex-options*="offset-#{$breakpoint}:#{$basis}"] {
      margin-left: $size;
    }
  }
  @else {
    [flex="#{$basis}"] {
      flex: 0 0 $size;
    }
    [ai-layout~="column"] [flex="#{$basis}"],
    [ai-layout~="flex-column"] [flex="#{$basis}"] {
      max-height: $size;
      min-height: $size;

    }

    [ai-layout~="row"] [flex="#{$basis}"],
    [ai-layout~="flex-row"] [flex="#{$basis}"] {
      max-width: $size;
      min-width: $size;
    }
    [flex-options*="offset:#{$basis}"] {
      margin-left: $size;
    }
  }
}

@mixin ai-visibility($breakpoint) {
  [hide-#{$breakpoint}] {
    display: none;
  }
  [show-#{$breakpoint}] {
    display: flex;
  }
  [visible-#{$breakpoint}] {
    visibility: visible;
  }
  [invisible-#{$breakpoint}] {
    visibility: collapse;
  }
}

@function ai-flex-size($basis) {
  @if $basis == 33 {
    @return 33.3333 + %;
  }
  @if $basis == 66 {
    @return 66.6666 + %;
  }
  @return $basis + %;
}

@mixin ai-direction($direction) {
  flex-direction: $direction;
}

@mixin ai-option($option, $value) {
  display: flex;
  @if $option == justify {
    justify-content: $value;
  } @else if $option == align {
    align-items: $value;
  } @else if $option == self {
    align-self: $value;
  } @else if $option == content {
    align-content: $value;
  } @else if $option == order {
    order: $value;
  }
}
