
[flex] {
  display: flex;
  position: relative;
  min-height: 1px;
  flex: 1;
  @include flex-direction(column);
  &[block] {
    display: block;
  }
}

[ai-layout] {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  @include ai-direction(row);
}



[ai-container],
[ai-flex-container] {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

[grid-block] {
  position: relative;
  background-color: #ff4081;
  min-height: 20px;
  min-width: 20px;
  height: auto;
  width: auto;
  flex:1;
  color:white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

// -- option -- align-items -----------
[flex-options*="align:start"],
[layout-options*="align:start"] {
  @include ai-option(align, flex-start);
}
[flex-options*="align:center"],
[layout-options*="align:center"] {
  @include ai-option(align, center);
}
[flex-options*="align:end"],
[layout-options*="align:end"] {
  @include ai-option(align, flex-end);
}
[flex-options*="align:baseline"],
[layout-options*="align:baseline"] {
  @include ai-option(align, baseline);
}

// -- option -- align-self -----------
[flex-options*="self:start"],
[layout-options*="self:start"] {
  @include ai-option(self, flex-start);
}
[flex-options*="self:center"],
[layout-options*="self:center"] {
  @include ai-option(self, center);
}
[flex-options*="self:end"],
[layout-options*="self:end"] {
  @include ai-option(self, flex-end);
}
[flex-options*="self:baseline"],
[layout-options*="self:baseline"] {
  @include ai-option(self, baseline);
}

// -- option -- justify-çontent -----------
[flex-options*="justify:start"],
[layout-options*="justify:start"] {
  @include ai-option(justify, flex-start);
}
[flex-options*="justify:center"],
[layout-options*="justify:center"] {
  @include ai-option(justify, center);
}
[flex-options*="justify:end"],
[layout-options*="justify:end"] {
  @include ai-option(justify, flex-end);
}
[flex-options*="justify:around"],
[layout-options*="justify:around"] {
  @include ai-option(justify, space-around);
}
[flex-options*="justify:between"],
[layout-options*="justify:between"] {
  @include ai-option(justify, space-between);
}

// -- option -- order ------------
[flex-options*="order:first"],
[layout-options*="order:first"] {
  @include ai-option(order, -1);
}
[flex-options*="order:last"],
[layout-options*="order:last"] {
  @include ai-option(order, 1);
}

[ai-layout]:not([flex]) {
  // margin-left: ($grid-gutter-width / 2);
  // margin-right: ($grid-gutter-width / 2);
  // padding: ($grid-gutter-width / 2) 0;
  &[fill] {
    height: 100%;
  }
}

[flex]:not([ai-layout]) {
  // padding-left: ($grid-gutter-width / 2);
  // padding-right: ($grid-gutter-width / 2);
  // padding-bottom: ($grid-gutter-width / 2);
  // padding-top: ($grid-gutter-width / 2);
}

@each $breakpoint, $size in $grid-breakpoints {
  @include from-screen($breakpoint) {

    @include create-layout-attribute(row, $breakpoint);
    @include create-layout-attribute(column, $breakpoint);

    @for $basis from 1 through 100 {
      @include create-flex-attribute($basis, $breakpoint);
    }

    @include ai-visibility($breakpoint);
  }
}

@include create-layout-attribute(row);
@include create-layout-attribute(column);

@for $basis from 1 through 100 {
  @include create-flex-attribute($basis);
}
